<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.teamAT.dao.BoardDao">

    <select id="getList" resultType="org.teamAT.vo.BoardVo">
    	SELECT * FROM(
		  SELECT TRUNC((RN-1)/10+1) AS page, CEIL(COUNT(*) OVER()/10) AS TotalPage,t2.* FROM(
		    SELECT ROWNUM RN, t1.* FROM(
		      SELECT NUM, LPAD('-', (level-1)*4,' ')|| TITLE AS TITLE, USERID, WDATE 
		      FROM NOTICE 
		      START WITH REF=0 CONNECT BY PRIOR NUM=REF 
		      ORDER SIBLINGS BY num DESC 
		    )t1 
		  )t2 
		)WHERE page=#{page}
    </select>
    
 </mapper>
