<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.teamAT.dao.MemberDao"> <!--이 sql 문장과 매핑될 인터페이스의 완전한 경로-->
	<select id="getMember" resultType="org.teamAT.vo.MemberVo">
        select * from member where userid=#{id}
    </select>
    <insert id="setMember" parameterType="org.teamAT.vo.MemberVo">
    	insert into member(userid,userpw,username,phone,birthday) values(#{userid},#{userpw},#{username},#{phone},#{birthday})
    </insert>
</mapper>
